<header>

    <nav id="nav">
     <!-- <button id="menu-button"> <img  src="imagens/icones/menu-burger.png" alt=""></button> -->
     <a id="home-icone" href="/"> <img  src="imagens/icones/home.png" alt=""> </a>
      
    </nav>    
   
 </header>