<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conta Criada</title>
</head>

<style>

   body{
    margin: 0;
    align-content: center;
    background-color:#FF8C8C;
    font-family: 'Montserrat', sans-serif;   
    color: white;    
    text-align: center;     
}

h1{
    margin-top: 15% ;
}
</style>
<body>
    
    <h1>Bem Vindo <%= usuario %> !!</h1>
    <h2>Entre na sua conta! </h2>
    <a href="/login">Entrar</a>
    
</body>
</html>