body{
    margin: 0;
    align-content: center;
    background-color:#ffccb9;
    font-family: 'Montserrat', sans-serif;   
    color: white;
}


.main{
    margin-left: 35%;    
    width: 600px;   
}
.main h1{
    margin-left: 25%;   
}

input{
    border: 1px solid white;
    border-radius: 3px;
    height: 45px;
    width: 100%;
}
#imagem-upload{    
    border: none;
}
#enviar{
height: 55px;
width: 100%;
background-color: rgb(255, 255, 255);
border: none;
border-radius: 12px;
}

@media screen and (max-width: 1000px) {
    .main{
        margin-left: 25%;
        width: 600px;
    }
}
@media screen and (max-width: 800px) {
    .main{
        margin-left: 15%;
        width: 500px;
    }
}
@media screen and (max-width: 600px) {
    .main{
        margin-left: 10%;
        width: 300px;
        
    }
    .main h1{
        margin-left: 20%;
        font-size: 22px;   
    }
}